flows.json
[
    {
        "id": "9dfc7d2375a7a65a",
        "type": "tab",
        "label": "Incoming data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "644e9bfcd46298d2",
        "type": "group",
        "z": "9dfc7d2375a7a65a",
        "name": "handle incoming notifications",
        "style": {
            "stroke": "none",
            "fill": "#addb7b",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "7c505a3c3a3d7423",
            "e5bf53250502795b",
            "8a510c4a28d7a288",
            "2982228238aadee4",
            "1aed67ec896f0497",
            "a3a618eda0c2209c",
            "9457c47d22fb91a5",
            "e5ed580a15a2ef52",
            "e6de67083f70621e",
            "16ae6f9994c256a8",
            "81bbba1b4f753f52",
            "84e2cb0f24f98853",
            "cccc18d01bb5df2b"
        ],
        "x": 54,
        "y": 39,
        "w": 872,
        "h": 362
    },
    {
        "id": "e6de67083f70621e",
        "type": "junction",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "a3a618eda0c2209c",
                "9457c47d22fb91a5"
            ]
        ]
    },
    {
        "id": "16ae6f9994c256a8",
        "type": "junction",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "x": 560,
        "y": 140,
        "wires": [
            [
                "8a510c4a28d7a288",
                "e5ed580a15a2ef52",
                "e5bf53250502795b"
            ]
        ]
    },
    {
        "id": "81bbba1b4f753f52",
        "type": "junction",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "1aed67ec896f0497",
                "8a510c4a28d7a288",
                "84e2cb0f24f98853"
            ]
        ]
    },
    {
        "id": "7c505a3c3a3d7423",
        "type": "http in",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "POST /notifications",
        "url": "/notifications",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "2982228238aadee4"
            ]
        ]
    },
    {
        "id": "e5bf53250502795b",
        "type": "debug",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "log switchEvent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.deviceId & ':' & payload.state",
        "statusType": "jsonata",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "8a510c4a28d7a288",
        "type": "http response",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "HTTP OK 200",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "2982228238aadee4",
        "type": "switch",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "switch messageType",
        "property": "payload.messageType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "switchEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "missingSwitchWakeupWarning",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "16ae6f9994c256a8"
            ],
            [
                "81bbba1b4f753f52"
            ],
            [
                "e6de67083f70621e"
            ]
        ]
    },
    {
        "id": "1aed67ec896f0497",
        "type": "debug",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "log missingSwitchWarning",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.deviceId",
        "statusType": "msg",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3a618eda0c2209c",
        "type": "debug",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "log unknow protocol",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "9457c47d22fb91a5",
        "type": "http response",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "HTTP BadRequest 400",
        "statusCode": "400",
        "headers": {},
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "e5ed580a15a2ef52",
        "type": "link out",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "switch event message",
        "mode": "link",
        "links": [
            "f11b4b8774dbbb1d"
        ],
        "x": 655,
        "y": 80,
        "wires": []
    },
    {
        "id": "84e2cb0f24f98853",
        "type": "link out",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "missingSwitch message",
        "mode": "link",
        "links": [],
        "x": 655,
        "y": 220,
        "wires": []
    },
    {
        "id": "cccc18d01bb5df2b",
        "type": "comment",
        "z": "9dfc7d2375a7a65a",
        "g": "644e9bfcd46298d2",
        "name": "https://node-red:1880/nodered/notifications",
        "info": "",
        "x": 250,
        "y": 140,
        "wires": []
    }
]